* {
	transition: none !important;
	-webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
	forced-color-adjust: exact !important;          /* Firefox 48 – 96 */
	print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media print {
	* { margin: 0 !important; padding: 10 !important; }
	#controls, .footer, .footerarea{ display: none; }

	.left{
	  display:none;
	  zoom: 10%;
	  width: 1px;
	}

	.right{
		left: 0;
		top: 0;
		overflow: visible;
		width: 100vw;
	}

	#container_2{
		width: 500px;
		overflow: visible;
		zoom: 87%;
	}
}

body {

	height: 100vh;
}

.flex-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	flex-shrink: 0;
}
/* Split the screen in half */

  
/* Control the left side */
.left {
	position: fixed;
	left: 0;
	height: 100%;
	width: 22vw;
	min-width: 200px;
	align-items: stretch;
	flex-shrink: 0;
	background-color: #d7d7d7;
	flex: 2;
	z-index: 600;
	padding-left: 30px;

}
  
/* Control the right side */
.right {
	position: absolute;
	right: 0;
	width: 80vw;
	flex-shrink: 0;
	height: 100%;
	align-items: stretch;
	background-color: rgb(255, 255, 255);
	align-content: center;
	flex: 8;
	overflow: auto;
}

#container_1 {
	position: relative;
	top: 50px;
	outline:none;
	font-size: 0;
	margin:auto;
	height:400px;
	width:400px;
	padding: 30px;
	border: black;
	z-index: 500;
}

#container_2 {
	position: relative;
	top: 50px;
	outline:none;
	font-size: 0;
	margin:auto;
	height:800px;
	width: 800px;
	padding: 30px;
	border: none;
	z-index: 500;
	align-self: center;
}

.grid {
	
	margin:0;
	padding:0;
	background-color: "rgb(255, 255, 255)";
	border:none;
	outline:1px solid #000;
	display:inline-block;
	z-index: 500;
}

.grid_final {
	margin:0;
	padding:0;
	background-color: "rgb(255, 255, 255)";
	border:none;
	outline:1px solid #000;
	display:inline-block;
	z-index: 500;
}

input, select{
	width:80px;
	border:1px solid #ccc;
	float: right;
	margin-right: 10px;

	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box; 
}